[% title = "LinuxWorld Conference Japan '99" %]
<H2>LinuxWorld Conference Japan '99</H2>

<P>LinuxWorld Conference Japan '99 において、Debian JP Projectの
メンバーが ディストリビューション比較のBOF? に参加しました</P>

<H3>参加者</H3>
<UL>
 <LI>gotom
 <LI>hattas
 <LI>ishikawa
 <LI>kamop
 <LI>kitame
 <LI>susumu-o
 <LI>ukai
 <LI>yochi
 <LI>yosshy
 <LI>??
 <LI>...
</UL>
