[% title = "Debian MIME サポートサブポリシィ - この文書について" %]

<p><a name="ch1"></a></p>
<hr>

<p>
[ <a href="index.html">previous</a> ]
[ <a href="index.html#contents">Contents</a> ]
[ 1 ]
[ <a href="ch2.html">2</a> ]
[ <a href="ch2.html">next</a> ]
</p>

<hr>

<h2>
Debian MIME サポートサブポリシィ
<br>Chapter 1 - この文書について
</h2>

<hr>

<p>
この文書の最新版は <code>ftp.debian.org</code> の 以下の場 所にあります。
<code><a
href="ftp://ftp.debian.org/debian/doc/package-developer/mime-policy.txt">ftp://ftp.debian.org/debian/doc/package-developer/mime-policy.txt</a></code>
</p>

<hr>

<p>
[ <a href="index.html">previous</a> ]
[ <a href="index.html#contents">Contents</a> ]
[ 1 ]
[ <a href="ch2.html">2</a> ]
[ <a href="ch2.html">next</a> ]
</p>

<hr>

<p>
Debian MIME サポートサブポリシィ
</p>

<address>
version 3.8.3.0, 2009-08-16<br>
<br>
J.H.M. Dassen (Ray) <code><a href="mailto:jdassen&#64;debian.org">mailto:jdassen&#64;debian.org</a></code><br>
The Debian Policy mailing List <code><a href="mailto:debian-policy&#64;lists.debian.org">mailto:debian-policy&#64;lists.debian.org</a></code><br>
<br>
</address>
<hr>

