[% title = "イベント" %]
<h2>イベント</h2>
<P>
主に日本国内において、Debian および Debian JP Project メンバーが主催／協賛または参加したイベントを掲載しています。
Debian JP Project 主催でのイベント企画や参加の呼びかけをされたい方は、<a href="../ml/openml.html#usersML">Debian JP Users メーリングリスト</a>か Debian JP Project 理事会 &lt;board&#64;debian.or.jp&gt; で表明してください。</p>
<p>
<img alt ="" height="199" width="300" src="../../image/osc2013tokushima01.jpg">
<img alt ="" height="225" width="300" src="../../image/osc2013tokyo02.jpg">
<img alt ="" height="225" width="300" src="../../image/osc2013tokyo.jpg">
<br>
<img alt ="" height="199" width="300" src="../../image/osc2013tokushima02.jpg">
<img alt ="" height="225" width="300" src="../../image/osc2013tokyo03.jpg">
</p>

<h3>最近開催された、あるいは開催予定のイベント</h3>
<dl>
<!--
 <dt>2018年月日</dt>
 <dd>
     () </dd>

-->
<dt>2023年12月16日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-12.html">2023 年 12 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年11月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-11.html">2023 年 11 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年10月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-10-osc.html">2023 年 10 月 OSC 2023 Tokyo/Fall 出張展示 (2023 年 10 月 東京エリアDebian勉強会)</a>
 (大田区産業プラザPiO 大展示ホール)</dd>

<dt>2023年9月16日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-09.html">2023 年 9 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年8月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-08.html">2023 年 8 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年7月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-07.html">2023 年 7 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年6月24日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-06-osc-hokkaido-booth.html">2023 年 6 月 OSC 2023 Hokkaido 出張展示</a>
 (札幌市産業振興センター)</dd>

<dt>2023年6月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-06-osc-hokkaido.html">2023 年 6 月 OSC 2023 Online/Hokkaido 出張勉強会 (2023 年 6 月 東京エリアDebian勉強会)</a>
 (Zoom & YouTube Live web会議)</dd>

<dt>2023年5月20日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-05.html">2023 年 5 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年4月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-04.html">2023 年 4 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年4月1日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-04-osc.html">2023 年 4 月 OSC 2023 Tokyo/Spring 出張展示</a>
 (東京都立産業貿易センター台東館 7階)</dd>

<dt>2023年3月11日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-03-osc.html">2023 年 3 月 OSC 2023 Online/Spring 出張勉強会 (2023年3月 東京エリアDebian勉強会)</a>
 (Zoom & YouTube Live web会議)</dd>

<dt>2023年2月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-02.html">2023 年 2 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2023年1月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2023-01.html">2023 年 1 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年12月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-12.html">2022 年 12 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年11月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-11.html">2022 年 11 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年10月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-10.html">2022 年 10 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年9月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-09.html">2022 年 9 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年8月20日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-08.html">2022 年 8 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年7月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-07.html">2022 年 7 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年6月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-06.html">2022 年 6 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年5月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-05.html">2022 年 5 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年4月16日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-04.html">2022 年 4 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年3月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-03.html">2022 年 3 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年2月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-02.html">2022 年 2 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2022年1月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2022-01.html">2022 年 1 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2021年12月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-12.html">2021 年 12 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2021年11月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-11.html">2021 年 11 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi Meet web会議)</dd>

<dt>2021年10月23日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-10-osc.html">2021 年 10 月 OSC 2021 Online/Fall 出張勉強会 (2021 年 10 月 東京エリア Debian 勉強会)</a>
 (オンライン web会議)</dd>

<dt>2021年9月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-09.html">2021 年 9 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Teams web会議)</dd>

<dt>2021年8月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-08.html">2021 年 8 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Discord web会議)</dd>

<dt>2021年7月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-07.html">2021 年 7 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Discord web会議)</dd>

<dt>2021年6月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-06.html">2021 年 6 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2021年5月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-05.html">2021 年 5 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2021年4月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-04.html">2021 年 4 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2021年3月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-03.html">2021 年 3 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2021年2月20日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-02.html">2021 年 2 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2021年1月16日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2021-01.html">2021 年 1 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2020年12月20日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-12.html">2020 年 12 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2020年11月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-11.html">2020 年 11 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2020年10月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-10.html">2020 年 10 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Google Meet web会議)</dd>

<dt>2020年9月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-09.html">2020 年 9 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi web会議)</dd>

<dt>2020年8月22日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-08.html">2020 年 8 月度 東京エリア・関西合同 Debian 勉強会</a>
 (Jitsi web会議)</dd>

<dt>2020年7月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2020-07.html">2020 年 7 月度 東京エリア・関西合同 Debian 勉強会</a>
 (インターネットを使ったweb会議)</dd>

<h3>過去に催されたイベント</h3>
<ul>
 <li><a href="./2023/index.html">2023年</a></li>
 <li><a href="./2022/index.html">2022年</a></li>
 <li><a href="./2021/index.html">2021年</a></li>
 <li><a href="./2020/index.html">2020年</a></li>
 <li><a href="./2019/index.html">2019年</a></li>
 <li><a href="./2018/index.html">2018年</a></li>
 <li><a href="./2017/index.html">2017年</a></li>
 <li><a href="./2016/index.html">2016年</a></li>
 <li><a href="./2015/index.html">2015年</a></li>
 <li><a href="./2014/index.html">2014年</a></li>
 <li><a href="./2013/index.html">2013年</a></li>
 <li><a href="./2012/index.html">2012年</a></li>
 <li><a href="./2011/index.html">2011年</a></li>
 <li><a href="./2010/index.html">2010年</a></li>
 <li><a href="./2009/index.html">2009年</a></li>
 <li><a href="./2008/index.html">2008年</a></li>
 <li><a href="./2007/index.html">2007年</a></li>
 <li><a href="./2006/index.html">2006年</a></li>
 <li><a href="./2005/index.html">2005年</a></li>
 <li><a href="./2004/index.html">2004年</a></li>
 <li><a href="./2003/index.html">2003年</a></li>
 <li><a href="./2002/index.html">2002年</a></li>
 <li><a href="./2001/index.html">2001年</a></li>
 <li><a href="./2000/index.html">2000年</a></li>
 <li><a href="./1999/index.html">1999年</a></li>
 <li><a href="./1998/index.html">1998年</a></li>
</ul>
