[% title = "2018年に開催されたイベント" %]

<h2>2018年に開催されたイベント</h2>
<dl>

<dt>2018年1月28日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180128">第 131 回 関西 Debian 勉強会 (openSUSE Meetup + LILO&amp;東海道らぐ + 第131回関西Debian LT大会)</a>
 (大阪 港区区民センター 梅)</dd>

<dt>2018年1月20日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-01.html">第159回東京エリアDebian勉強会、2018年1月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年2月24日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-02-osc.html">第160回東京エリアDebian勉強会、2018年2月勉強会 OSC 2018 Tokyo/Spring出張</a>
 (OSC 2018 Tokyo/Spring 会場(明星大学 日野キャンパス 26号館))</dd>

<dt>2018年2月25日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180225">第 132 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 304 会議室)</dd>

<dt>2018年3月26日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-03.html">第161回東京エリアDebian勉強会、2018年3月勉強会</a>
 (新宿溝口クリニック)</dd>

<dt>2018年3月25日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180325">第 133 回 関西 Debian 勉強会</a>
 (福島区民センター 304 号室)</dd>

<dt>2018年4月21日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-04.html">第162回東京エリアDebian勉強会、2018年4月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年4月22日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180422">第 134 回 関西 Debian 勉強会</a>
 (大阪 港区民センター 304 楓)</dd>

<dt>2018年5月19日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-05.html">第163回東京エリアDebian勉強会、2018年5月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年5月27日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180527">第 135 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 304 会議室)</dd>

<dt>2018年6月16日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-06.html">第164回東京エリアDebian勉強会、2018年6月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年6月24日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180624">第 136 回 関西 Debian 勉強会 + Linux Kernel 勉強会 LT 大会</a>
 (大阪 福島区民センター 304 会議室)</dd>

<dt>2018年7月6日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-07-meetup-hokkaido.html">Debian / Ubuntu ユーザーミートアップ in 札幌 2018.07</a>
 (株式会社インフィニットループ)</dd>

<dt>2018年7月7日</dt>
<dd>東京エリアDebian勉強会 in <a href="http://www.ospn.jp/osc2018-do/">オープンソースカンファレンス 2018 Hokkaido</a>
 (札幌コンベンションセンター)</dd>

<dt>2018年8月18日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-08.html">第165回東京エリアDebian勉強会、2018年8月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年8月26日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180826">第 137 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 304 会議室)</dd>

<dt>2018年9月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-09.html">第166回東京エリアDebian勉強会、2018年9月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年9月23日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20180923">第 138 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 305 会議室)</dd>

<dt>2018年10月27日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-10-osc.html">第167回東京エリアDebian勉強会、2018年10月勉強会 OSC 2018 Tokyo/Fall出張</a>
 (OSC 2018 Tokyo/Fall 会場(明星大学 日野キャンパス 28号館))</dd>

<dt>2018年11月10日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20181110">第 139 回 関西 Debian 勉強会 in 関西オープンソース 2018</a>
 (大阪南港 ATC ITM棟 10F)</dd>

<dt>2018年11月17日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-11.html">第168回東京エリアDebian勉強会、2018年11月勉強会</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年11月25日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20181125">第 140 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 304 会議室)</dd>

<dt>2018年12月15日</dt>
<dd><a href="https://tokyodebian-team.pages.debian.net/2018-12.html">第169回東京エリアDebian勉強会、2018年12月勉強会（Bug Squash Party）</a>
 (朝日ネット（歌舞伎座タワー 21F）)</dd>

<dt>2018年12月23日</dt>
<dd><a href="https://wiki.debian.org/KansaiDebianMeeting/20181223">第 141 回 関西 Debian 勉強会</a>
 (大阪 福島区民センター 304 会議室)</dd>

</dl>
