[% title = "Debian JP Project が運営する公開メーリングリストに関する免責事項" %]

<h2>免責事項への同意について</h2>
<p>
<a href="./openml.html">Debian JP Project が運営する公開メーリングリスト</a> 
(以下、メーリングリスト)の利用者は、
以下の免責事項に同意して利用をしているものとして扱われます。</p>


<h3>メーリングリストとそのアーカイブは一般に公開されています</h3>
<p>
メーリングリストは、公開された議論・討論・会話の場であり、
その過去の記録 (アーカイブ) も公開されるものとなります。
メーリングリストのアドレスにあなたがメッセージを送信するより遥か以前から、
アーカイブは公開されています。
<strong>このような公開された場にメールを送付することによって、
あなたは自分が投稿したメールが公に配信されるのに対して同意することになります</strong>。</p>
<p>
<strong>
<a href="./openml.html">メーリングリスト</a>に対して送付されたメールの内容は、
投稿者が、あらゆる個人・法人・団体を問わず、すべてに対して公開を前提としたものとして取り扱われます</strong>。
メーリングリストに送付されたメールは、他の場所へ配送されるかもしれません。
<a href="https://www.google.co.jp/">Google</a> や <a href="http://www.yahoo.co.jp/">
Yahoo!</a> などの検索エンジンから検索可能な状態になることもあります。
<strong>メーリングリストには、いかなる機密資料や無許可の情報も決して送らないでください</strong>。</p>


<h3>保証・責任の放棄と権利の保持</h3>
<p>
<strong>投稿者が Debian JP Project であれ他人であれ、
メーリングリストに投稿された情報についての保証を Debian JP Project はすべて放棄します</strong>。
この免責事項には、商業的適性やある特定の目的への適合性についての暗黙の保証も含まれます。
メーリングリストに投稿されたあらゆる情報の利用の結果として (もしくはその利用に伴って) 
生じた直接・間接の損害、不利益、またはその他のいかなる種類の問題に関しても、
Debian JP Project、Debian JP Project 会員、サービスプロバイダのいずれも一切の責任を負いません。</p>
<p>
Debian JP Project は、誠意を持ってメーリングリストを管理しています。
気づいた悪用は全て制限し、メーリングリストの運営を健全に保つための手段を取っていきます。
そのため、メーリングリストに対して我々が不適切だと判断した投稿をやめさせる権利を保持します。
一方で、不適切な投稿がないかとメーリングリストを逐次監視するなどは通常行いませんし、
投稿の編集管理を約束することもしません。</p>

<h3>投稿者の責任</h3>
<p>
<strong>投稿者は、自分が送ろうとするメールの内容と相手を判断する責任があります</strong>。
任意の受信者たちにメールを送れば彼らがあなたのメールを受け取るからといって、
彼らがあなたの条件を自動的かつ強制的に受け入れることになると期待することはできません。</p>
<p>
また、Debian JP Project が運営するメーリングリストへメールを投稿することにより、
<strong>投稿者はそのメールの内容に関して以下の事柄を主張し保証すると見なされます</strong>。</p>
<ul>
<li>投稿者本人が著作権をもっている、あるいは著作権所有者の許可を受けている</li>
<li>もしくはそのメールの内容がパブリックドメインにある</li>
<li>その投稿が他人のあらゆる権利や利益を侵さない</li>
</ul>
<p>
なお、投稿者が著作権を保持していることは、
一旦公にされたメーリングリストアーカイブからそれらのメールを取り除く義務が 
Debian JP Project にあることを意味しません。</p>
