[% title = "Linux Conference 2000 Fall" %]
<H2>Linux Conference 2000 Fall</H2>

<P><a href="http://lc.linux.or.jp/">Linux Conference 2000 Fall</a> において、Debian JP Project関係者が以下のチュートリアル、コンファレンスで発表しました。</P>

<H3>チュートリアル「NonStopシステム運用」</H3>
<P>2000年11月29日 9:30〜 12:30</P>
<UL>
 <LI>発表者 荒木靖宏
</UL>


<H3>チュートリアル「LDAP概論と応用」</H3>
<P>2000年11月29日 13:30〜 16:30</P>
<UL>
 <LI>発表者 鵜飼文敏
</UL>

<H3>チュートリアル「BTS - バグ・トラッキング・システム」</H3>
<P>2000年11月29日 13:30〜 16:30</P>
<UL>
 <LI>発表者 奈良木廣 (森本淳)
</UL>

<H3>「オープンソースライセンスについての解説」</H3>
<P>2000年11月29日 11:10〜 12:00</P>
<UL>
 <LI>発表者 八田真行
</UL>

<H3>「Linux Wireless環境」</H3>
<P>2000年11月30日 13:30〜 14:20</P>
<UL>
 <LI>発表者 野首貴嗣(武井和久)
</UL>

<H3>「Debianパッケージの作り方」</H3>
<P>2000年11月30日 15:50〜 16:40</P>
<UL>
 <LI>発表者 武藤健志
</UL>


<H3>「WWWサーバサイドプログラミング」</H3>
<P>2000年11月29日 13:30〜 14:20</P>
<UL>
 <LI>発表者 前田修吾
</UL>

<H3>「Linux Community 大集合 2000 秋」</H3>
<P>2000年11月29日 13:30〜 </P>
<UL>
 <LI>司会 野首貴嗣
</UL>

<H3>「MorphyONEで遊ぶLinux」</H3>
<P>2000年11月30日 13:30〜 14:20 </P>
<UL>
 <LI>発表者 芳尾桂 (菅原東)
</UL>

<H3>「ALSA BOF」</H3>
<P>2000年11月30日 14:30〜 15:20 </P>
<UL>
 <LI>発表者 樽石将人
</UL>

<HR>

<H3>参加者</H3>
<UL>
 <LI>ukai
 <LI>ishikawa
 <LI>kmuto
 <LI>ay
 <LI>susumu-o
 <LI>knok
 <LI>nrk
 <LI>hattas
 <LI>taru
 <LI>mhatta
 <LI>maehara
 <LI>Ar
 <LI>noshiro
 <LI>take
 <LI>tach
 <LI>shugo
 <LI>kaz
 <LI>shishamo
 <LI>kamop
 <LI>yochi
</UL>
