[% title = "ロゴのライセンスについて" %]
<h2>ロゴの著作権と使用権</h2>

<p><img src="../image/JPLogo2.1.jpg" alt="Debian JP Project Logo" height="79" width="222"><br />
<a href="../image/JPLogo2.1.jpg">ロゴ</a>の著作権は、作者である栗山 訓さんが所有いたします。
ロゴの使用権は、Debian JP Project が有し、第三者にロゴの利用許諾することができるものとします。</p>

<p>第三者への利用許諾は以下の条件を満たす必要があります。</p>

<ul>
<li>ソフトウェア製品で使う場合、最低内容の半分は Debian や
  Debian JP に関するもの</li>
<li>本やウェブページなどで使う場合、最低内容の半分は Debian や
  Debian JP に関するもの</li>
<li>サービス提供業務で使う場合、最低業務の半分は Debian や
  Debian JP に関連するもの</li>
<li>Debian または Debian JP を故意に中傷するならロゴの使用許可を取り消します。</li>
<li>Debian JP Project はいつでもロゴの使用を禁止できる。
  (すでに世に出てしまった製品/宣伝を回収しろとまではおそらく主張しません。)</li>
</ul>

<p>その他、ご不明な点があればお問い合わせください。
(Debian Project の <a href="[% wwworg %]/logos/">Debian オフィシャルユーズロゴライセンス</a>
を参考に検討します)</p>
