[% title = "2005年に開催されたイベント" %]
<h2>2005年に開催されたイベント</h2>
<dl>
 <dt>各月</dt>
 <dd><a href="./debianmeeting/">東京エリア Debian 勉強会</a>(東京近郊)</dd>
 <dt>2005年8月12日</dt>
 <dd><a href="./0726-fsij/">SEA &amp; FSIJ合同フォーラム</a>　(東京都渋谷区千駄ヶ谷 東京体育館)</dd>
 <dt>2005年9月17日</dt>
 <dd><a href="./0917-osc/">OSCでのDebianについてのセッション</a>　(東京都)</dd>
 <dt>2005年10月28日</dt>
 <dd>　<a href="./1028-jdmc/">Japan Debian Mini Conf</a>　(大阪産業創造館)</dd>
</dl>
