@charset "EUC-JP";

img.google {
	border: 0;
	vertical-align: middle;
}

td.google {
	font-size: smaller;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

div {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "VL Gothic, Verdana, Arial, Helvetica, sans-serif";
	line-height: 1.4;
}

h1 {
	margin: 0.3em 0;
	font-size: 130%;
}

h2 {
	margin: 1em 0;
	font-size: 130%;
}

h3 {
	margin: 1em 0;
	font-size: 120%;
}

h4, h5, h6 {
	margin: 1em 0;
	font-size: 100%;
}

p {
	margin: 1em 0;
	font-size: 100%;
}

p.small {
	font-size: 80%;
}

p.right {
	text-align: right;
}

ul, ol {
	margin: 1em 0;
	padding-left: 30px;
}

li {
	margin: 0;
}

dl {
	margin: 1em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 40px;
}

a {
	color:		inherit;
}

a:link {
	color:		#0000FF;
}

a:visited {
	color:		#800080;	/* same as debian.org */
}

a:hover {
	background-color:	#FF0;
	text-decoration:	underline;
}

img {
	margin: 0;
	border: 0;
	vertical-align: baseline;
}

div.img {
	margin: 0.5em 0em 0.5em 1em;
}

em {
	font-weight: bold;
	font-style: normal;
}

strong {
	font-weight: bold;
	font-style: normal;
}

hr {
	visibility: hidden;
}

.copyright:after {
	content: " 1998-2023";
}

/* ******************** header ******************** */

div.header {
	padding-left: 15px;
}

div.header p {
	margin: 0em 0em 0em 0em;
}

div.header form {
	float: right;
	margin: -3.0em 1.0em 0.5em 0em;
}

div.header h1 {
	background-color:	transparent;
	color:		#800080;	/* same as debian.org */
}

div.header a:hover {
	background-color:	transparent;
	text-decoration:	none;
}

div.header a:visited {
	color:		#000;
}

/* ******************** menu ******************** */

div.menu {
	border-top: 1px solid #999;
	border-bottom: 1px solid #000;	
	padding: .25em 1em;
	color: #333;
	background-color: #DF0451;
	font-size: 85%;
	clear: both;
}

div.menu p {
	width: 65%;
	margin: 0;
	float: left;
}

div.menu a {
	color: #fff !important;
	background-color: transparent !important;
	font-weight: bold;
	white-space: pre;
}

div.menu a:hover {
	color: #009 !important;
	background-color: transparent !important;
}

/* ******************** sidebar ******************** */

div.sidebar {
	width: 19.0%;
	float: left;
	color: #000;
	background-color: #f6f6f6;
}

div.sidebar h2 {
	border-bottom: 1px solid #000;
	font-size: 100%;
}

div.sidebar div.section {
	margin: 0.75em;
}

div.sidebar p {
	margin: 0;
	padding-left: .25em;
}

div.sidebar ul li {
	list-style-image: url(/image/openlogo-nd-mini.png);
}

/* ******************** content ******************** */

div.content {
	width: 62%;
	float: left;
}

div.content h2 {
	border-bottom: 1px solid #000;
}

div.content h3 {
	border-bottom: 1px solid #000;
}

div.content div.past {
	color: #666;
}

div.content div.section {
	margin: 1.25em;
}

/* div.section dt {
	margin: 1.0em 0em 0em 0em;
} */


/* ******************** rightsidebar ******************** */

div.rightsidebar {
	width: 19%;
	float: right;
}

div.rightsidebar h2 {
	margin: 0em 1em 0.5em 0em;
	font-size: 110%;
}

div.rightsidebar p {
	margin: 0.5em 0.25em 3em 0.25em;
	font-size: 90%;
}

div.rightsidebar img {
	margin: 0.25em 0em 0em 0em;
	float: left;
	vertical-align: middle;
}

div.rightsidebar ul {
	margin: 0.25em 1em 1em 0.25em;
	font-size: 75%;
	list-style-type: none; 
}


/* ******************** footer ******************** */

div.footer {
	clear: both; 
	padding: 0.25em;
	margin-top: 1em;
}

div.footer p {
	margin: 0;
	color: #666;
	background-color: #fff;
	font-size: 75%;
	text-align: center;
}

div.footer img {
	border: 0;
	margin: 0.5em 2.0em 0.25em 0.5em;
	float: inherit;
}

div.footer a:hover {
	background-color:	transparent;
}
